<head>
    <link rel="stylesheet" type="text/css" href="{{ 'moments.css' | asset_url }}">
</head>
<div class="PickersTitle">Tamanho:</div>
<div class="ProductSizeBox"></div>
<div class="PickersTitle">Cor:</div>
<div class="ProductColorsBox"></div>
<div class="Scroll">
    <div class="Bg_Tshirt">
        <div class="Tshirt">
            <div class="Preview">
                <div class="Pr_Drag PrintTarget">
                    <div class="Pr_ImgWrap display_1">
                    </div>
                </div>
                <div class="ImgSelector">
                    <div class="ImgDragMove"></div>
                    <div class="ImgSizeControl"></div>
                </div>
            </div>
            <div class="Zomm_Wrap">
                <div class="Zoom_Btn In"></div>
                <div class="Zoom_Btn Out selected"></div>
            </div>
            <div class="Pr_Border"></div>
        </div>
    </div>
    <div class="Personalization">
        <div class="WRAPBTNOPTIONS">
            <div class="BtnCustom BTNOPTIONS selected">Template</div>
            <div class="BtnCustom BTNOPTIONS">Fotos</div>
        </div>
        <div class="CustomContainer selected">
            <div class="TemplatesWrap"></div>
        </div>
        <div class="CustomContainer">
            <div class="UploadImgWrap display_1">
            </div>
            <div class="ImgOptions">
                <div class="ImgEffect">
                    <div class="Tittle">Brilho</div>
                    <input type="range" class="threshold-slider" min="0.40" max="2" value="1" step="0.01" onchange="changeThreshold()" oninput="sliderStyle()">
                </div>
                <label class="ImgInputLabel" for="imgInput">
                    Mudar imagem
                    <div></div>
                </label>
                <input class="imgInput" id="imgInput" type="file" accept="image/*" oninput="loadNewImage()" style="display: none;">
            </div>
        </div>
    </div>
</div>
<input class="InputPrint" style="display: none;" type="file" form="{{ 'product-form-' | append: section.id }}" name="properties[_hiddenPropertyName Estampa]">
<input class="InputPreview" style="display: none;" type="file" form="{{ 'product-form-' | append: section.id }}">                         
<script src="{{ 'potrace.js' | asset_url }}"></script>
<script src="{{ 'print.js' | asset_url }}"></script>
<script src="{{ 'moments.js' | asset_url }}"></script>
